# Accessing Google Sheets data
Authetication info here: https://docs.gspread.org/en/latest/oauth2.html#oauth-client-id

In [1]:
# Import packages
import pandas as pd
import gspread

# Access google service account called gsheet-operator
gc = gspread.service_account()

# Open spreadsheet, clean data

In [2]:
# Open spreadsheet
sh = gc.open("1536 Osceola (Responses)")

# Get worksheet with form submissions
worksheet = sh.worksheet("Form")

# Convert spreadsheet to dataframe
df = pd.DataFrame(worksheet.get_all_records())

In [7]:
# Convert spreadsheet to dataframe
df = pd.DataFrame(worksheet.get_all_records())

# Filter for rows that are unchecked (and contain info)
df = df[(df["Paid?"] == "FALSE") & (df['Your name'].str.len() > 0)]
df

,Timestamp,Your name,What is the charge for?,Amount,Who are you charging?,Person 1,Person 2,Person 3,Person 4,Person 5,Person 6,Sum,Paid?,
31,9/10/2023 16:53:33,Udi,Whole milk,$2.50,Ko,Ko,,,,,,1,FALSE,▲
32,9/11/2023 20:42:25,Ko,Olive oil,$11.79,"Ko, Dipakshi, Andrea",Ko,Dipakshi,Andrea,,,,3,FALSE,◉
33,9/19/2023 16:26:42,Noah,TJs,24.2,Udi,Udi,,,,,,1,FALSE,▲
34,9/19/2023 16:26:57,Noah,Turkey,3.69,Dipakshi,Dipakshi,,,,,,1,FALSE,▲
35,9/19/2023 16:27:46,Noah,greek cheese spiral,4.79,Ko,Ko,,,,,,1,FALSE,▲
36,9/19/2023 16:28:21,Noah,capers,2.99,Andrea,Andrea,,,,,,1,FALSE,◉
37,9/21/2023 8:57:03,Noah,October internet,62.78,Whole house,Whole house,,,,,,5,FALSE,▲